@use '../../styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: 24px 0;

  &__btn {
    background: none;
    border: none;
    color: variables.$black-color;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 4px 6px;
    transition: color 0.2s;
    border-radius: 4px;

    &--active {
      width: 28px;
      height: 28px;
      padding: 4px 0;
      border: 1px solid variables.$blue-color;
      background: variables.$background-color-white;
      color: variables.$black-color;
    }

    &:hover:not(.pagination__btn--active):not(:disabled) {
      color: variables.$blue-color;
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}