@use './variables.scss';

body {
  margin: 0;
  background-color: variables.$background-color-primary;
  font-family: variables.$font-family-base;
  font-weight: variables.$font-weight-base;
}

a {
  font-weight: 500;
  color: variables.$blue-color;
  text-decoration: inherit;
}


