$font-size-base: 16px;
$font-family-base: 'Proxima Nova', sans-serif;
$font-weight-base: 400;

$background-color-primary: #EBEBEB;
$background-color-secondary: #ffe600;
$background-color-transparent: transparent;
$background-color-white: #ffffff;

$blue-color: #3483FA;
$gray-color: #EBEBEB;
$black-color: rgba(0, 0, 0, 0.9);
$gray-color-light: rgba(0, 0, 0, 0.55);
$gray-color-light-2: #eeeeee;
$green-color: #00A650;