$font-size-base: 16px;
$font-family-base: 'Proxima Nova', sans-serif;
$font-weight-base: 400;

$background-color-primary: #EBEBEB;
$background-color-secondary: #FFE600;
$background-color-transparent: transparent;
$background-color-white: #ffffff;

$blue-color: #3483FA;
$gray-color: #EBEBEB;
$gray-color-light: rgba(14, 7, 7, 0.55);
$gray-color-light-2: #EEEEEE;

$black-color: rgba(0, 0, 0, 0.9);
$black-color-light: rgba(0, 0, 0, 0.8);
$black-color-light-2: rgba(0, 0, 0, 0.55);

$green-color: #00A650;